.buttonWrap {
    width: fit-content;
}

.list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: var(--space-xs);

    &:not(:empty) {
        padding-top: var(--space-s);
    }
}
.list-picture-card {
    display: flex;
    flex-wrap: wrap;
}

$item-border-width: 1px;
$item-padding: calc(var(--control-space-m) / 2);
$item-height: calc(var(--control-height-m) + #{$item-padding}* 2);

$prefix-class: 'item';

.#{$prefix-class} {
    height: var(--upload-picture-item-height, $item-height);
    padding: var(--upload-picture-item-padding, $item-padding);
    font-size: var(--upload-picture-item-fz, var(--control-text-size-m));
    line-height: 1.2;
    border: $item-border-width solid
        var(--upload-picture-item-bcolor, var(--color-control-bg-border-default));
    border-radius: var(--upload-picture-item-bradius, var(--control-radius));
    background: var(--upload-picture-item-bg, var(--color-control-bg-default));
    color: var(--upload-color, var(--color-control-typo-default));
    transition: border-color 0.2s ease;

    &__PictureCard {
        height: auto;
        &::before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #00000080;
            opacity: 0;
            transition: all 0.3s;
        }

        &:hover {
            border-color: var(
                --upload-picture-item-bcolor-hover,
                var(--color-control-bg-border-default-hover)
            );
            &::before {
                opacity: 0.8;
            }
            .item_Actions {
                opacity: 1;
            }
        }
    }

    &__Error {
        --upload-picture-item-bcolor: var(--color-bg-alert);
        --upload-picture-item-bcolor-hover: var(--color-bg-alert);
        --upload-color: var(--color-typo-alert);
    }
}

.#{$prefix-class}_Content {
    display: flex;
    gap: var(--upload-picture-item-padding, $item-padding);
    align-items: center;
    height: 100%;
    &__PictureCard {
        position: relative;
    }
}

.#{$prefix-class}_Name {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.#{$prefix-class}_Actions {
    display: flex;
    flex-shrink: 0;
    gap: var(--space-2xs);

    &__PictureCard {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
}

.#{$prefix-class}_Thumb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: calc(#{$item-height} - #{$item-padding}* 2 - #{$item-border-width}* 2);
    border-radius: var(--upload-picture-item-bradius, var(--control-radius));
    overflow: hidden;
    background-color: var(--color-control-bg-clear-hover);

    &::after {
        content: '';
        display: block;
        padding-top: 100%;
    }

    svg {
        position: absolute;
        width: 16px;
        height: auto;
    }

    &__PictureCard {
        width: 86px;
        height: auto;
    }
}

.#{$prefix-class}_Image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.#{$prefix-class}_Button {
    &__PictureCard {
        background-color: red;
    }
}

.#{$prefix-class}_ActionButton {
    --button-bg-focus: transparent;
}

:global {
    .upload {
        &-drag {
            text-align: center;
            background: var(--color-control-bg-clear);
            border: 1px dashed var(--color-control-bg-border-default);
            border-radius: var(--control-radius);
            transition: border-color 0.2s ease, background-color 0.2s ease;
            cursor: pointer;

            &-hover,
            &:hover {
                background-color: var(--color-control-bg-clear-hover);
                border-color: var(--color-control-bg-border-default-hover);
            }
        }
        &-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: var(--space-l);
        }
        &-disabled {
            background-color: var(--color-control-bg-disable);
            border-color: transparent;
            cursor: not-allowed;

            &.upload-btn {
                background-color: transparent;
            }

            &:hover,
            &:global(.upload-drag-hover) {
                background-color: var(--color-control-bg-disable);
                border-color: transparent;

                &.upload-btn {
                    background-color: transparent;
                }
            }
        }
    }
}

.uploadStyleExample_Img {
    margin-bottom: var(--space-2xs);
    color: var(--color-control-typo-secondary);

    svg {
        width: 50px;
        height: auto;
    }
}

.uploadStyleExample_Text {
    margin-bottom: var(--space-2xs);
    color: var(--color-typo-secondary);
}
