.footer {
    display: flex;
    gap: var(--space-l);
    justify-content: flex-end;
}

.appliedFilters {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
    margin-bottom: var(--space-l);

    &:empty {
        margin-bottom: 0;
    }
}

.appliedFilters_Remove {
    opacity: 0.6;
    transition: opacity 0.16s linear;

    &:hover {
        opacity: 1;
    }
}

.quickFilters {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    flex-wrap: wrap;
    margin-bottom: var(--space-l);

    &:empty {
        margin-bottom: 0;
    }

    & li:not(:has(.quickFilters__boolean_filter)) {
        min-width: 170px;
    }

    &__boolean_filter {
        padding: 0 10px;
        width: fit-content;
        height: var(--wrapper-height, var(--control-height-m));
        border: 1px solid var(--choice-frame-border-color, var(--color-control-bg-border-default));
        border-radius: var(--control-radius);
        display: flex;
        align-items: center;
        gap: var(--space-l);
    }
}
