@use '@/assets/scss-variables' as *;
@use '@/assets/mixins' as *;

.tooltip {
    padding: var(--space-s) var(--space-m);
    background: var(--color-bg-default);
    border-radius: var(--control-radius);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    font-size: 14px;
    color: var(--color-typo-primary);

    &__Custom {
        padding: 0;
    }
}
