.search {
    width: 100%;
    height: auto;
    padding: 0 16px;
    background: var(--color-control-bg-default);
    border: 1px solid var(--choice-frame-border-color, var(--color-control-bg-border-default));
    border-radius: var(--control-radius);
    color: var(--color-typo-primary);

    &:hover {
        border-color: var(
            --color-picker-border-color-hover,
            var(--color-control-bg-border-default-hover)
        );
    }

    &:focus-visible {
        filter: drop-shadow(
            0px 0px 1px var(--color-picker-border-color-focus, var(--color-control-bg-border-focus))
        );
        border-color: var(--color-picker-border-color-focus, var(--color-control-bg-border-focus));
    }

    &__wrapper {
        position: relative;
        width: 25%;
        min-width: 300px;
        border-radius: 8px;
    }

    &__clear {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 5;
        color: currentColor;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.12s linear;

        &--visible {
            opacity: 1;
            pointer-events: all;
        }
    }
}
