// breakpoints
$bp-xsMobile: 325;
$bp-sMobile: 375;
$bp-mobile: 500;
$bp-lMobile: 650;
$bp-mTablet: 768;
$bp-tablet: 1024;
$bp-sDesktop: 1280;
$bp-xmDesktop: 1366;
$bp-mDesktop: 1440;
$bp-desktop: 1920;
