@use 'admiral/assets/scss-variables' as *;
@use 'admiral/assets/mixins' as *;

.page {
    padding: var(--space-xl);
    color: var(--color-typo-primary);
}

.title {
    margin-bottom: var(--space-m);
}

.actions {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
}
