.menu {
    .menu {
        .item {
            &:not(:last-child) {
                .link {
                    border-bottom: none;
                }
            }
        }

        .link {
            grid-template-columns: minmax(0, 1fr);
            height: 40px;
            padding-left: calc(var(--space-3xl) + 16px);
            font-size: var(--size-text-s);

            &::before {
                content: '';
                position: absolute;
                top: calc(50% - 3px);
                left: var(--space-3xl);
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: currentColor;
            }

            &__Active {
                color: var(--color-typo-brand);
                background-color: var(--color-bg-stripe);
            }
        }

        .link_Icon {
            display: none;
        }
    }

    &__Dark {
        .menu {
            .link {
                &__Active {
                    color: var(--color-typo-primary);
                    background-color: var(--color-bg-ghost);
                }
            }
        }
    }
}

.item {
    position: relative;
}

.link {
    position: relative;
    display: grid;
    grid-template-columns: 20px minmax(0, 1fr);
    grid-gap: 0 10px;
    align-items: center;
    height: 48px;
    padding: 0 var(--space-xl);
    font-weight: var(--font-weight-text-semibold);
    color: var(--color-typo-secondary);
    overflow: hidden;
    transition: color 0.2s, background-color 0.2s;

    &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 8px;
        z-index: 0;
        width: calc(100% - 16px);
        height: calc(100% - 6px);
        display: block;
        border-radius: var(--control-radius);
        background-color: var(--color-bg-brand);
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
    }

    &__Active {
        color: var(--color-base-essential);

        &::after {
            opacity: 1;
            transform: none;
        }
    }

    &__Collapsed {
        grid-template-columns: 20px;
        justify-content: center;

        .link_Title {
            display: none;
        }
    }

    &:hover:not(.link__Active) {
        color: var(--color-typo-primary);
    }
}

.link_Icon {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

.link_Title {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
