.label {
    display: inline-flex;
    align-items: center;
    gap: var(--space-2xs);
}

.label_Alert {
    color: var(--color-typo-alert);
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}
